{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Hikayem Takı{% endblock %}</title>
    <meta name="description" content="{% block description %}Hikayem Takı | Senin takın, senin hikayen.{% endblock %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include "includes/navbar.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

</body>
</html>